include partials/_header
include partials/_menu-top
section(id="dashboard-section", class="col-md-12")
    div(class="row")
        include partials/_menu
        div(class="col-md-10")
            div(class="container")
                h3 
                    i(class="fa fa-file")
                    span  Dados de #{curso.nome}
                div
                    p Carga horaria: #[strong= curso.ch] Horas
                div
                    p Categoria: #[strong= curso.categoria]
                div
                    p Descrição: #[strong= curso.descricao]
                
include partials/_footer