include partials/_header

section(id="dashboard-section", class="col-md-12")
    div(class="row")
        include partials/_menu
        
        div(class="col-md-10")
            h3 Listagem dos cursos
            table(class="table table-striped")
                thead(class="thead")
                    tr
                        th(scope="col") ch
                        th(scope="col") nome
                        th(scope="col") descricao
                        th(scope="col") categoria
                tbody
                    each curso in cursos
                        tr
                            th(scope="row")= curso.ch
                            td= curso.nome
                            td= curso.descricao
                            td= curso.categoria

include partials/_footer