include partials/_header
include partials/_menu-top
section(id="dashboard-section", class="col-md-12")
    div(class="row")
        include partials/_menu
        div(class="col-md-10")
            div(class="container")
                h3 
                    i(class="fa fa-th-list")
                    span  Listagem dos cursos
                if (cursos.length > 0)
                    table(class="table table-striped")
                        thead(class="thead")
                            tr
                                th(scope="col") Nome
                                th Ação
                        tbody
                            each curso in cursos
                                tr
                                    td= curso.nome
                                    td
                                        i(class="fa fa-eye") 
                                        span: a(href="/curso/"+curso._id)  ver curso
                else
                    div(class="alert alert-warning", role="alert")
                        h3 Nenhum curso cadastrdado!
                        p Por favor, cadastre um novo curso
                        a(href="/novo-curso") Novo Curso
include partials/_footer