include partials/_header

section(id="dashboard-section", class="col-md-12")
    div(class="row")
        include partials/_menu
        
        div(class="col-md-10")
            h3 Listagem dos cursos
            table(class="table table-striped")
                thead(class="thead")
                    tr
                        th(scope="col") ch
                        th(scope="col") nome
                        th(scope="col") descricao
                        th(scope="col") categoria
                tbody
                    tr
                        th(scope="row") 1
                        td Um curso legal
                        td Descricao do curso legal!
                        td Desenvolvimento
                    tr
                        th(scope="row") 1
                        td Um curso legal 2
                        td Descricao do curso legal!
                        td Desenvolvimento

include partials/_footer