include partials/_header.pug
section(id="login-section", class="col-md-12")
    div(id="data-holder", class="col-md-6")
        div(id="form-login")
            div(class="col-md-12 title-form")
                p Faça o seu cadastro
                if (typeof(error) !== 'undefined')
                    p(class="alert alert-danger") #{error}
                form(action="/cadastro", method="post", class="col-md-12")
                    div(class="form-group")
                        input(type="text", class="form-control", placeholder="Nome do Aluno")
                    div(class="form-group")
                        input(type="text", class="form-control", placeholder="Senha")
                    div(class="form-group")
                        input(name="email", class="form-control", placeholder="Email")
                    div(class="form-group")
                        button(class="btn btn-primary") Cadastrar

include partials/_footer.pug