nav(class="navbar navbar-dark bg-dark justify-content-between")
    span(class="navbar-brand") Escola App
    div
        a(href="/", class="btn btn-outline-info my-2 my-sm-0")
            i(class="fa fa-user-circle") 
            span  logoff