div(id="menu-dashboard", class="col-md-2 border-right bg-dark")
    ul
        li 
            a(class="link-options", href="/curso") 
                i(class="fa fa-th-list")
                span  Listagem de Cursos
        li 
            a(class="link-options", href="/curso/novo")
                i(class="fa fa-plus")
                span  Novo Curso