div(id="menu-dashboard", class="col-md-2 border-right")
    ul
        li 
            a(href="/dashboard") Listagem de Cursos
        li 
            a(href="/novo-curso") Novo Curso
        li 
            a(href="/") Logoff